<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact-Us</title>
    {% load static %}
 <style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.logo{
width: 4rem;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
<body>
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href=" {% static 'favicon.ico' %} ">
    <title>Agritech </title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href=" {% static 'css/simplebar.css' %} ">
       <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href=" {% static 'css/feather.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/select2.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/dropzone.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/uppy.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/jquery.steps.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/jquery.timepicker.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/quill.snow.css' %} ">
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href=" {% static 'css/daterangepicker.css' %} ">
    <!-- App CSS -->
    <link rel="stylesheet" href=" {% static 'css/app-light.css' %} " id="lightTheme" disabled>
    <link rel="stylesheet" href=" {% static 'css/app-dark.css' %} " id="darkTheme">
  </head>
  <body class="vertical  dark  ">
    <div class="wrapper">
      <nav class="topnav navbar navbar-light">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        <form class="form-inline mr-auto searchform text-muted">
          <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">

        </form>

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>
        </ul>
          <br>
<div class="container">
  <form class="complaint" method="post" action="/complaintregister">
      {% csrf_token %}
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="number">Ph. No.</label>
    <input type="tel" id="number" name="number" placeholder="+91 90xxxxxx98">
<br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="@gmail.com">
<br>
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

      </nav>

      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
            <div class="w-100 mb-4 d-flex">
              <img class="logo" src="{% static 'images/logoo.png' %}" width="175" hight="175" /><br>
          </div>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Menu</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
           <li class="nav-item">
                  <a class="nav-link pl-3" href="/"><i class="fe fe-home fe-16"></i>
                    <span class="ml-1 item-text">Dashboard</span></a>
                </li>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Status</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
           <li class="nav-item">
                  <a class="nav-link pl-3" href="/tablebasic"><i class="fas fa-tv "></i>
                    <span class="ml-1 item-text">Live Status</span></a>
                </li>
          </ul>
          <ul class="navbar-nav flex-fill w-100 mb-2">
           <li class="nav-item">
                  <a class="nav-link pl-3" href="/tabledatatables"><i class="fas fa-history"></i>
                    <span class="ml-1 item-text">History</span></a>
                </li>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Feature</span>
          </p>
           <ul class="navbar-nav flex-fill w-100 mb-2">
           <li class="nav-item">
                  <a class="nav-link pl-3" href="/calendar"><i class="fe fe-calendar fe-16"></i>
                    <span class="ml-1 item-text">Calendar</span></a>
                </li>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>About-us</span>
          </p>
           <ul class="navbar-nav flex-fill w-100 mb-2">
           <li class="nav-item">
                  <a class="nav-link pl-3" href="/calendar"><i class="fe fe-phone fe-16"></i>
                    <span class="ml-1 item-text">Contact-us</span></a>
                </li>
          </ul>
        </nav>
      </aside>
      <main role="main" class="main-content">
      </main> <!-- main -->
    </div> <!-- .wrapper -->

    <script src=" {% static 'js/jquery.min.js' %} "></script>
    <script src=" {% static 'js/popper.min.js' %} "></script>
    <script src=" {% static 'js/moment.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'js/simplebar.min.js' %} "></script>
    <script src=" {% static 'js/daterangepicker.js' %} "></script>
    <script src=" {% static 'js/jquery.stickOnScroll.js' %} "></script>
    <script src=" {% static 'js/tinycolor-min.js' %} "></script>
    <script src=" {% static 'js/config.js' %} "></script>
    <script src=" {% static 'js/d3.min.js' %} "></script>
    <script src=" {% static 'js/topojson.min.js' %} "></script>
    <script src=" {% static 'js/datamaps.all.min.js' %} "></script>
    <script src=" {% static 'js/datamaps-zoomto.js' %} "></script>
    <script src=" {% static 'js/datamaps.custom.js' %} "></script>
    <script src=" {% static 'js/Chart.min.js' %} "></script>
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src=" {% static 'js/gauge.min.js' %} "></script>
    <script src=" {% static 'js/jquery.sparkline.min.js' %} "></script>
    <script src=" {% static 'js/apexcharts.min.js' %} "></script>
    <script src=" {% static 'js/apexcharts.custom.js' %} "></script>
    <script src=" {% static 'js/jquery.mask.min.js' %} "></script>
    <script src=" {% static 'js/select2.min.js' %} "></script>
    <script src=" {% static 'js/jquery.steps.min.js' %} "></script>
    <script src=" {% static 'js/jquery.validate.min.js' %} "></script>
    <script src=" {% static 'js/jquery.timepicker.js' %} "></script>
    <script src=" {% static 'js/dropzone.min.js' %} "></script>
    <script src=" {% static 'js/uppy.min.js' %} "></script>
    <script src=" {% static 'js/quill.min.js' %} "></script>
    <script>
      $('.select2').select2(
      {
        theme: 'bootstrap4',
      });
      $('.select2-multi').select2(
      {
        multiple: true,
        theme: 'bootstrap4',
      });
      $('.drgpicker').daterangepicker(
      {
        singleDatePicker: true,
        timePicker: false,
        showDropdowns: true,
        locale:
        {
          format: 'MM/DD/YYYY'
        }
      });
      $('.time-input').timepicker(
      {
        'scrollDefault': 'now',
        'zindex': '9999' /* fix modal open */
      });
      /** date range picker */
      if ($('.datetimes').length)
      {
        $('.datetimes').daterangepicker(
        {
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale:
          {
            format: 'M/DD hh:mm A'
          }
        });
      }
      var start = moment().subtract(29, 'days');
      var end = moment();

      function cb(start, end)
      {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
      $('#reportrange').daterangepicker(
      {
        startDate: start,
        endDate: end,
        ranges:
        {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);
      cb(start, end);
      $('.input-placeholder').mask("00/00/0000",
      {
        placeholder: "_//_"
      });
      $('.input-zip').mask('00000-000',
      {
        placeholder: "_-__"
      });
      $('.input-money').mask("#.##0,00",
      {
        reverse: true
      });
      $('.input-phoneus').mask('(000) 000-0000');
      $('.input-mixed').mask('AAA 000-S0S');
      $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
      {
        translation:
        {
          'Z':
          {
            pattern: /[0-9]/,
            optional: true
          }
        },
        placeholder: "_._._._"
      });
      // editor
      var editor = document.getElementById('editor');
      if (editor)
      {
        var toolbarOptions = [
          [
          {
            'font': []
          }],
          [
          {
            'header': [1, 2, 3, 4, 5, 6, false]
          }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [
          {
            'header': 1
          },
          {
            'header': 2
          }],
          [
          {
            'list': 'ordered'
          },
          {
            'list': 'bullet'
          }],
          [
          {
            'script': 'sub'
          },
          {
            'script': 'super'
          }],
          [
          {
            'indent': '-1'
          },
          {
            'indent': '+1'
          }], // outdent/indent
          [
          {
            'direction': 'rtl'
          }], // text direction
          [
          {
            'color': []
          },
          {
            'background': []
          }], // dropdown with defaults from theme
          [
          {
            'align': []
          }],
          ['clean'] // remove formatting button
        ];
        var quill = new Quill(editor,
        {
          modules:
          {
            toolbar: toolbarOptions
          },
          theme: 'snow'
        });
      }
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function()
      {
        'use strict';
        window.addEventListener('load', function()
        {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form)
          {
            form.addEventListener('submit', function(event)
            {
              if (form.checkValidity() === false)
              {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script>
      var uptarg = document.getElementById('drag-drop-area');
      if (uptarg)
      {
        var uppy = Uppy.Core().use(Uppy.Dashboard,
        {
          inline: true,
          target: uptarg,
          proudlyDisplayPoweredByUppy: false,
          theme: 'dark',
          width: 770,
          height: 210,
          plugins: ['Webcam']
        }).use(Uppy.Tus,
        {
          endpoint: 'https://master.tus.io/files/'
        });
        uppy.on('complete', (result) =>
        {
          console.log('Upload complete! We’ve uploaded these files:', result.successful)
        });
      }
    </script>
    <script src=" {% static 'js/apps.js' %} "></script>
  </body>
</html>
</body>
</html>